.main-container {
    background-color: #1F2937;
    display:flex;
    flex-direction:column;
}

.header-container {
    background-color: #1F2937;
    width: 100vw;
    height: 150px;
    color: white;
    display: flex;
    justify-content: space-around;
    font: roboto;
}

.header-links {
    display:flex;
    justify-content: space-evenly;
    flex: 0 0 20%
}

.hero-container {
    background-color: #1F2937;
    width: 100vw;
    height: 300px;
    color: white;
    display: flex;
    font: roboto;
    justify-content: space-around;
}


.hero-image img {
    width: 500px;
    height: 250px;
    align-items:flex-end
}


.images-container {
    background-color: white;
    width: 100vw;
    height: 300px;
    color: black;
    display: flex;
    justify-content:center;
}

.quote-container {
    background-color: gray;
    width: 100vw;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-header {
    width: 100vw;
    height: 50px;
    justify-self:center;
}

.image {
    height: 50px;
    width: 50px;
    justify-content: center;
    border: 5px blue
}

.action-container {
    background-color: white;
    width: 100vw;
    height: 300px;
    color: white;
}

.footer-container {
    background-color: #1F2937;
    color: white;
    width: 100vw;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
